[submodule "Pascal-VOC"]
	path = Pascal-VOC
	url = https://github.com/shehryar11w/Pascal-VOC.git
[submodule "RNN-basics"]
	path = RNN-basics
	url = https://github.com/shehryar11w/RNN-basics.git
[submodule "Seq2Seq"]
	path = Seq2Seq
	url = https://github.com/shehryar11w/Seq2Seq.git
[submodule "ViT"]
	path = ViT
	url = https://github.com/shehryar11w/ViT.git
[submodule "YOLO-fundamentals"]
	path = YOLO-fundamentals
	url = https://github.com/shehryar11w/YOLO-fundamentals.git
[submodule "pet-image_segmentation"]
	path = pet-image_segmentation
	url = https://github.com/shehryar11w/pet-image_segmentation.git
[submodule "manualEmbedding"]
	path = manualEmbedding
	url = https://github.com/shehryar11w/manualEmbedding.git
[submodule "Intel-Image"]
	path = Intel-Image
	url = https://github.com/shehryar11w/Intel-Image-classification-CNN.git
[submodule "PetDataset"]
	path = PetDataset
	url = https://github.com/shehryar11w/petDataset-CNN.git
[submodule "MicroGrad"]
	path = MicroGrad
	url = https://github.com/shehryar11w/MicroGrad.git
[submodule "BasicNN-manual+TF"]
	path = BasicNN-manual+TF
	url = https://github.com/shehryar11w/NN-basics.git
[submodule "CNN basics"]
	path = CNN basics
	url = https://github.com/shehryar11w/CNN-basics.git
